<form action='/comments' method='POST'>
  <input type='hidden' name='comment[post_id]' value='<%=params[:id]%>'
  <label for'post[body]'>Post</label>
  <div>
  <textarea rows="5" cols="40" name="comment[body]" type="text" placeholder="Your awesome comment!"></textarea>
  </div>
  <div>
  	<input type='submit' value='Make Comment'>
  </div>
</form>