<form action='/posts' method='POST'>
  <label for='post[title]'>Title</label>
  <div>
  	<input type="text" name="post[title]" placeholder="Awesome post title">
  </div>
  <label for'post[body]'>Post</label>
  <div>
  <textarea rows="5" cols="40" name="post[body]" type="text" placeholder="Your awesome post!"></textarea>
  </div>
  <div>
  	<input type='submit' value='Make Post'>
  </div>
</form>