<!DOCTYPE html>
<html lang="en">
<head>
  <!-- CSS -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <!-- JS -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Simple Blog</title>
</head>
<body>
	<% if logged_in? %>
		<nav class'nav-logged-in'>
			<li><a href='/posts'>Posts</a></li>
			<li><a href="/users/<%= current_user.id %>"><%=current_user.username%></a>
			<li><a href="/users/logout">Logout</a></li>
		</nav>
	<% else %>
		<nav class='nav-logged-out'>
			<li><a href='/posts'>Posts</a></li>
			<li><a href="/users/new">Register</a></li>
			<li><a href="/users/login">Login</a></li>
		</nav>
	<% end %>
  <%= erb :_errors %>
  <%= yield %>
</body>
</html>
